@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    The name Acme became popular for businesses by the 1920s, when alphabetized business telephone directories such as the Yellow Pages began to 
    be widespread. There was a flood of businesses named Acme, including Acme Brick, Acme Markets, and Acme Boots. Early Sears catalogues even 
    contained a number of products with the "Acme" trademark, including anvils, which are frequently used in Warner Bros. cartoons.[2]
    <br />
    Warner Brothers animator Chuck Jones has said the name Acme was chosen because of its prevalence:
</p>
